<!doctype html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>URL Shortener</title>
</head>

<body>
    <div class="container text-center">
        <div class="row">

            <div class="col">
                <h1>URL Shortener</h1>
                <p>Nothing found for that link :(</p>
                <a href="/">Home</a>
            </div>
        </div>
    </div>
</body>

</html>